.progressive{
    width: 90%;
    margin: auto;
}
.infosss{
font-size: 100;
font-style: oblique;
font-weight: bolder;
}

/* .progress-line{
    background: green;
} */
@media screen and (min-width:600px) {
    .progressive{
        width: 70%;
        margin: auto;
    }
    
}